{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}
{% load static %}

<h1>Mes abonnements</h1>

<form method="POST" class="form-inline">
    {% csrf_token %}
    <input class="form-control mr-xl-2" value="" name="search_user" type="search"
        placeholder="Rechercher un utilisateur" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
</form>

{% for searched_user in searched_users %}
<div class="card">
    <div class="card-body">
        <p>{{searched_user}}</p>
        {% if searched_user in my_follows_str %}
            <a href="{% url 'unfollow' searched_user %}">Unfollow</a>
        {% else %}
            <a href="{% url 'follow' searched_user %}">Follow</a>
        {% endif %}
    </div>
</div>
{% endfor %}
{% for follow in my_follows %}
<div class="card">
    <div class="card-body">
        {{follow}}
        <form method="POST">
            <a class="btn btn-sm btn-danger" href="{% url 'unfollow' follow.id %}">Unfollow</a>
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}