{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div class="form_global_div">
    <div class="sub_global_form">
        <div class="form_global_div">
            <div class="ticket_recap_div">
                <h3>Réponse à la critique : </h3>
                <div class="ticket_recap_image_and_text">
                    {% if ticket.image %}
                    <img src="{{ticket.image.url}}" alt="" class="book_img">
                    {% endif %}
                    <div class="ticket_recap_text">
                        <p><strong>Titre :</strong> {{ticket.title}}</p>
                        <p><strong>Description :</strong> {{ticket.description}}</p>
                        <p> <strong>de</strong> {{ticket.user}}</p>
                        {% language 'fr' %}
                        <p> <strong>créer le </strong> {{ticket.time_created }}</p>
                        {% endlanguage %}
                    </div>
                </div>
    
            </div>
            <form method="POST" action="">
                {% csrf_token %}
                {{review_form|crispy}}
                <input type="submit" name="Answer ticket" class="btn btn-info">
    
            </form>
        </div>
    </div>
</div>

{% endblock %}