<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<form method="POST" action="">
    {% csrf_token %}
    {{form}}
    <p>Ticket</p>
    {{review_form.ticket}}
    <p>Rating</p>
    {{review_form.rating}}
    <p>Healine</p>
    {{review_form.headline}}
    <p>Body</p>
    {{review_form.body}}
    <p>User</p>
    {{review_form.user}}

    <input class="btn btn-info" type="submit" name="Create Review">
</form>