{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}
{% load static %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<br>

<div class="center-column">
	<h1 class="fil_title">Fil d'actualité</h1>
	<div class="ask_review_create_review_buttons">
		<a class="btn btn-sm btn-info" href="{% url 'create_ticket' %}">Demander une critique</a>
		<a class="btn btn-sm btn-info" href="{% url 'create_review' %}">Créer une critique</a>

	</div>
	<div class="todo-list">
		{% for post in my_posts %}
		{% if post.ticket %}
		<div class="item-row">
			<div class="review_user_date">
				<p><strong>{{post.user}}</strong> à publié une critique</p>
				{% language 'fr' %}
				<p><strong>Le </strong>{{post.time_created}}</p>
				{% endlanguage %}
			</div>
			<div class="dashboard_review_recap">
				<div class="review_title_rating">
					<p class="review_title">{{post.titre}}</p>
					<div class="space_title_rating">
					</div>
					{% for i in '01234'|make_list %}
						{% if i|slugify < post.note|slugify %}
							<i class="fas fa-star"></i>
						{% else %}
							<i class="far fa-star"></i>
						{% endif %} what we can see is that the environnement differs from a one to one relationship between the original ;an ahdn the 
					{% endfor %}
				</div>
				<p><strong>Commentaire : </strong>{{post.commentaire}}</p>
			</div>
			<div class="dashboard_ticket_answer_recap">
				<div class="dashboard_user_date">
					<p>Ticket - {{post.ticket.user}}</p>
					{% language 'fr' %}
					<p><strong>Le </strong>{{post.time_created}}</p>
					{% endlanguage %}
				</div>
				<p><strong>Titre : </strong>{{post.ticket.title}}</p>
				<p><strong>Commentaire : </strong>{{post.ticket.description}}</p>
				{% if post.ticket.image %}
				<img src="{{post.ticket.image}}" alt="" class="book_img">
				{% endif %}
			</div>
			{% if post.user|stringformat:"s" == user.get_username|stringformat:"s" %}
			<div class="update_delete_buttons">
				<a class="btn btn-sm btn-info" href="{% url 'update_review' post.id %}">Modifier</a>
				<a class="btn btn-sm btn-danger" href="{% url 'delete_review' post.id %}">Supprimer</a>
			</div>
			{% endif %}
		</div>
		{% else %}
		<div class="todo-list">
			<div class="item-row">
				<div class="review_user_date">
					<p><strong>{{post.user}}</strong> a demandé une critique</p>
					{% language 'fr' %}
					<p><strong>Le </strong>{{post.time_created}}</p>
					{% endlanguage %}
				</div>
				<div class="dashboard_review_recap">
					<p class="review_title"><strong>Titre : </strong>{{post.title}}</p>
					<p><strong>Commentaire : </strong>{{post.description}}</p>
					{% if post.image %}
					<img src="{{post.image}}" alt="" class="book_img">
					{% endif %}
				</div>
				<a class="btn btn-sm btn-info" href="{% url 'answer_ticket' post.id %}">Répondre au ticket</a>
				{% if post.user|stringformat:"s" == user.get_username|stringformat:"s" %}
				<a class="btn btn-sm btn-info" href="{% url 'update_ticket' post.id %}">Modifier</a>
				<a class="btn btn-sm btn-danger" href="{% url 'delete_ticket' post.id %}">Supprimer</a>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% endfor %}
		{% endblock %}
	</div>