{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div class="form_global_div">

    <h3>Mettre à jour la critique</h3>

    <form method="POST" action="">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" name="Update Review" class="btn btn-sm btn-info">

    </form>
</div>
{% endblock %}